//#region Main pallete

$color-primary: hsl(62, 50%, 65%);
$color-secondary: hsl(240, 50%, 75%);
$color-background: hsl(240, 50%, 95%);

//#endregion

//#region Derived colors

$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);

$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);

//#endregion

//#region Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=PT+Mono&family=Roboto&display=swap");

.mono {
  font-family: "PT Mono", monospace;
}

.sans {
  font-family: "Roboto", sans-serif;
}

.sans-alt {
  font-family: "Nunito", sans-serif;
}

//#endregion
